@import 'bower_components/vui-input/input.scss';
@import '../validation.scss';

@import url(https://s.brightspace.com/lib/fonts/0.3.0/fonts.css);

html {
	font-size: 20px;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin: 1rem;
}
table {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 100px;
}
tr {
	height: 5rem;
}
tr.above {
	height: 22rem;
}
td, th {
	padding: 0.5rem;
}

input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
  @include vui-input;
}

.bubble {
	@include vui-validation-bubble;
}

.bubble-show {
	@include vui-validation-bubble-show;
}

.bubble-content {
	@include vui-validation-bubble-content;
}

.bubble-content-above {
	@include vui-validation-bubble-content-above;
}
