@import 'bower_components/vui-typography/typography.scss';
@import '../validation.scss';

html {
	font-size: 20px;
}
body {
	@include vui-typography;
	margin: 1rem;
}
table {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 100px;
}
tr {
	height: 5rem;
}
td, th {
	padding: 0.5rem;
}

.bubble {
	@include vui-validation-bubble;
}

.bubble-show {
	@include vui-validation-bubble-show;
}

.bubble-content {
	@include vui-validation-bubble-content;
}
