@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/small-text.scss';

@mixin vui-validation-bubble() {
	display: none;
	position: absolute;
	max-width: 18.5rem;
	width: 100%;
}

@mixin vui-validation-bubble-show() {
	display: block;
}

@mixin vui-validation-bubble-content-base() {

	position: absolute;
	left: -0.5rem;
	background-color: $vui-color-ferrite;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	padding: 0.7rem 1rem;
	z-index: 10;


	@include vui-typography-small-text(
			$color: $vui-color-white,
			$margin: 0
		);

	[dir='rtl'] & {
		left: auto;
		right: -0.5rem;
	}

	&::before {
		border: solid;
		border-color: $vui-color-ferrite transparent;
		content: "";
		position: absolute;
		z-index: 10;
		left: 1rem;
		[dir='rtl'] & {
			left: auto;
			right: 1rem;
		}

	}

}

@mixin vui-validation-bubble-content() {

	@include vui-validation-bubble-content-base;

	top: 0.25rem;

	&::before {
		top: -0.7rem;
		border-width: 0 0.7rem 0.7rem 0.7rem;
	}

}

@mixin vui-validation-bubble-content-above() {

	@include vui-validation-bubble-content-base;

	bottom: -0.1rem;

	&::before {
		bottom: -0.7rem;
		border-width: 0.7rem 0.7rem 0 0.7rem;
	}

}
