@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-typography/small-text.scss';

@mixin vui-validation-bubble() {
	display: none;
	position: absolute;
	max-width: 18.5rem;
	width: 100%;
}

@mixin vui-validation-bubble-show() {
	display: block;
}

@mixin vui-validation-bubble-content() {

	position: absolute;
	top: 0.25rem;
	left: -0.5rem;
	background-color: $vui-color-ferrite;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	padding: 0.7rem 1rem;
	z-index: 10;

	@include vui-typography-small-text(
			$color: $vui-color-white, 
			$margin: 0
		);

	[dir='rtl'] & {
		left: auto;
		right: -0.5rem;
	}

	&::before {
		border: solid;
		border-color: $vui-color-ferrite transparent;
		border-width: 0 0.7rem 0.7rem 0.7rem;
		content: "";
		position: absolute;
		z-index: 10;
		left: 1rem;
		top: -0.7rem;
		[dir='rtl'] & {
			left: auto;
			right: 1rem;
		}
	}

}
